* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #efefef;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1876f2;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-left .logo {
    max-width: 160px;
    margin-right: 45px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left ul {
    /* display: flex; */
    justify-content: center;
    /* gap: 20px; */
}

.nav-left ul li {
    list-style: none;
    display: inline-block;
}

.nav-left ul li img {
    width: 28px;
    margin: 0 15px;
}


/* right nav */

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right .search-box {
    background: #efefef;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 20px;
    width: 350px;
}

.search-box img {
    width: 18px;
}

.nav-right .search-box input {
    outline: none;
    border: 0;
    background: transparent;
    width: 100%;
    padding: 10px;
}

.nav-right .nav-user-icon {
    margin-left: 30px;
}

.nav-right .nav-user-icon img{
    width: 40px;
    border-radius: 50%;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
}

/* container */

.container {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
}

.left-sidebar {
    /* background: #cbdffa; */
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    /* height: 100vh; */
}

.right-sidebar {
    background: #fff;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    /* height: 100vh; */
    border-radius: 4px;
    padding: 20px;
    color: #626262;
}

.main-content {
    flex-basis: 47%;
    /* height: 100vh; */
}

/* Left sidebar */

.imp-link a,
.shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-link a img {
    width: 25px;
    margin-right: 15px;
}

.imp-link a:last-child {
    color: #1876f2;
}

.imp-link {
    border-bottom: 1px solid #ccc;
}

/* shotcut links */
.shortcut-links a img {
    width: 40px;
    margin-right: 15px;
    border-radius: 4px;
}

.shortcut-links p {
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}

/* --------- This is my code for left slidebar --------- */
/* .imp-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imp-link a {
    text-decoration: none;
    color: #626060;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.imp-link a img {
    width: 20px;
    margin-right: 10px;
} */
/* --------- End this is my code for left slidebar --------- */

/* Start CSS for right sidebar */
.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.sidebar-title h4 {
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event {
    position: relative;
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 12px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p {
    font-size: 12px;
}

.event a {
    text-decoration: none;
    font-size: 12px;
    color: #1876f2;
}


.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}

.right-event i {
    padding-right: 2px;
}


.sidebar-ads {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list img {
    width: 40px;
    border-radius: 50px;
}

.online-list p {
    margin-left: 20px;

}

.online-list .online::after {
    top: unset;
    bottom: 0;
}
/* End CSS for right sidebar */


/* start story gallery */
.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-1.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.story .image img {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 25px;
    width: 30px;
    border: 3px #1876f2 solid;
    border-radius: 50%;
}

.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.story2 {
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-2.png);
}

.story3 {
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-3.png);
}

.story4 {
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-4.png);
}

.story5 {
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-5.png);
}

/* Method1: set img center by Y 
CSS_NOTE: Căn giữa đối tượng sử dụng transform */
/* .story1 img {
    position: absolute;
    top: unset;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
} */

/* Method 2: use flex 
CSS_NOTE: căn giữa đối tượng sử dụng flex */
.story.story1 img {
    top: unset;
    left: unset;
}

.story.story1 .image {
    display: flex;
    justify-content: center;
}

/* end story gallery */


/* start write post container */
.write-post-container {
    background: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 15px;
    columns: #626262;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile div {
    /* CSS_NOTE: Điều chỉnh khoảng các giữa các dòng */
    /* line-height: 18px; */
    color: #626262;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500px;
}

.user-profile small {
    font-size: 12px;
}

.post-input-container {
    padding-left: 55px;
    margin-top: 20px;
}

.post-input-container textarea{
    width: 100%;
    /* CSS_NOTE: style for input element */
    outline: 0;
    border: 0;
    resize: none;

    background: transparent;
    border-bottom: 1px #ccc solid;
    font-size: 15px;
    color: #626262;
}

.add-post-links {
    display: flex;
    /* align-items: center; */
    margin-top: 10px;
}

.add-post-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ccc;
    font-size: 13px;
    padding-right: 30px;
}

.add-post-links img {
    width: 20px;
    margin-right: 10px;
}
/* end write post container */

/* start post container */
.post-container {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.post-container span {
    font-size: 13px;
    color: #9a9a9a;
}

.post-text {
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

.post-text span {
    color: #626262;
    font-weight: 500;
}

.post-text a {
    color: #1876f2;
    text-decoration: none;
    font-size: 13px;
}

.post-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

/* end post container */

