

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 2rem;
    padding: 1.5rem;
}

.header__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    background: transparent;
    margin-bottom: -6rem;
    z-index: 1;
}

.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    padding: 15px 0;
}

.nav_item li{
    list-style: none;
}

/* slide */
.slide{
    position: relative;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.slide .slide__content{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

.slide__content-title{
    font-size: 5rem;
    font-weight: normal;
}

/* button btn */
.btn{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: rgb(77, 75, 75);
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1.3rem;
}

.btn i{
    font-size: 0.7rem;
}

/* sale noti */
.sale__noti{
    padding: 2rem 0;
    background-color: #fcffb2;
}

/* categories */
.categories__title{
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 2rem 0;
}

.categories__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.categories__icon i{
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.6rem;
}

.categories__text{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2rem;
}

.cate__cart_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.cate__cart{
    position: relative;
    /* width: 100%; */
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    width: 25%;
    /* flex-basis: auto; */
}

.cate__cart-new-item{
    padding: 37px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: unset;
}
