*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.container{
    text-align: center;
}

.container-progress{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
