*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
}

.box__container{
    border: 1px solid rgb(237, 48, 73);
    display: flex;
    width: 500px;
    height: 120px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: auto;
    /* min-height: 100vh; */
    padding: 100px 0px;
    position: relative;
    /* gap: 2px; */
}
  
.box{
    padding: 5px 15px;
    height: 30px;
    background-color: chocolate;
    border: 1px solid rgb(50, 50, 50);
}

.box_3{
    background-color: rgb(72, 183, 28) !important;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%); /* center of a object with position absolute */
    /* transform: translateX(100%); */
    /* margin: auto; */
    /* right: -50%; */
}

/* css responsive */

/* small smartphone  */
@media (max-width: 576px){
    .box{
        background-color: blueviolet;
    }
}

/* tablet screen (576 - 768)*/
@media (min-width: 576px) and (max-width: 768px){
    .box{
        background-color: rgb(112, 197, 167);
    }
}

/* Horizontal tablet screen (768px to 992px) */
@media (min-width: 768px) and (max-width: 992px){
    .box{
        background-color: rgb(84, 223, 76);
    }
}

/* laptop screen (992px to 1200px) */
@media (min-width: 992px) and (max-width: 1200px){
    .box{
        background-color: rgb(223, 76, 123);
    }
}

/* desktop screen ( > 1200px)*/
@media (min-width: 1200px) {
    .box{
        background-color: rgb(204, 223, 76);
    }
}

/* Display grid */
.grid__container {
    margin-top: 50px;
    border: 1px solid rgb(7, 39, 249);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 348px));
    gap: 20px;
    row-gap: 10px;
    justify-items: right;
    /* align-items: center; */
    /* text-align: center; */

    justify-content: center;
}

.grid {
    padding: auto;
    height: 50px;
    align-items: center;
}
