*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;

    background-color: steelblue;
    color: #fff;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: lightblue;
}

.form-control {
    position: relative;
    /* CSS_NOTE: margin 3 giá trị: top (left and right) botton */
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    display: block;
    width: 100%;
    padding: 15px 0;
    /* CSS_NOTE: font size and color of text input */
    font-size: 18px;
    color: #fff;
}

.form-control input:focus, .form-control input:valid {
    /* CSS_NOTE: khi click vào ô input thì nó không còn border nữa */
    outline: 0;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: lightblue;
    padding: 15px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

